

body {
    color: rgb(173, 50, 71);
 background-color: rgb(27, 22, 22)
    
}
h1 {
    color: rgb(173, 50, 71);
    font-size: 50px;
    text-shadow: -1px -1px 0px
    rgba(255,255,255,0.3), 15px 5px 5px 
    rgba(0,0,0,0.8); 
    opacity: 0.9;
}
h2 {
    color:  rgb(173, 50, 71);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px
}
a {
    color: rgb(126, 35, 50);
}
button{
    color: rgb(126, 35, 50);
    margin: 25px;
    border: 30px rgb(126, 35, 50);
    height: 40px;
    width: 120px;
    font-size: inherit;
    padding-block-start: inherit
 }
  .hidden {
        visibility: hidden;
 }

