* {
text-align: center;
color: black;
}

body {
    background-color: rgb(48, 48, 148);
}

nav {
    text-align: left
}

h1 {
    color: black;
}

h2{
  font-size: 25px;
  color: black;
}
.count {
    font-size: 35px;
}

#record  {
    font-size: 40px;
}
label {
    display: block-center;
    cursor: pointer;
}
input {
    display: none;
}
button{
    border: 10px rgb(6, 39, 109);
    height: 40px;
    width: 120px;
    font-size: inherit;
    padding-block-start: 0vmax;

}
#message {
    font-size: 25px;
}
#super {
    padding-top: 20px;
}

img.radio-image {
    border: 10px solid transparent;
    border-radius: 100%;
    width: 65px;
}
input:checked + .radio-image {
    border: 15px solid rgb(43, 6, 6);
    
}

img:not(#super) {
    height: 125px;
}

nav {
    text-align: left
} 
.invisible {
    display: none;
}
.visable {
    display: visible;
}